@import "lib";
@import "../color/lib";
@import "../media/lib";
@import "../layout/lib";

.fixed-top {
  right: unset;
  width: 100%;
}

.clearfix {
  @include clearfix();
}

.absolute-center {
  @include absolute-center();
}

.margin-center {
  @include margin-center();
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.pipe {
  outline: 1px solid;
  box-sizing: content-box;
}

.background-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.h {
  @include breakpoints {
    &-100 {
      height: 100%;
    }
  }
}

.w {
  &-100 {
    width: 100%;
  }
}

.z-higher {
  position: relative;
  z-index: 50;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.hidden {
  visibility: hidden;
}

.square {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.caret {
  @include caret-down(pxtoem(67), pxtoem(84));
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 50;

  @media(max-width: $sm-max) {
    font-size: .75em;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.rounded {
  border-radius: 1.5rem !important;

  &-tl {
    border-top-left-radius: 1.5rem !important;
  }

  &-tr {
    border-top-right-radius: 1.5rem !important;
  }

  &-bl {
    border-bottom-left-radius: 1.5rem !important;
  }

  &-br {
    border-bottom-right-radius: 1.5rem !important;
  }

  &-top {
    @extend .rounded-tl;
    @extend .rounded-tr;
  }

  &-bottom {
    @extend .rounded-bl;
    @extend .rounded-br;
  }
}

.content-centered {
  max-width: 48em;
  margin: 0 auto;

  p {
    max-width: 45em;
    margin: 0 auto;
  }
}

.callout {
  width: 100%;
  text-align: center;
  padding: pxtoem(12) pxtoem(50);
  font-weight: 700;
  color: $white;
  background: $light-green;
}

@media (min-width: $md) {
  .product__content {
      padding-left: $gutter * 2;
  }
}

.border {
  @include breakpoints {
    &-left {
      border-left: 1px solid $off-white;
    }

    &-top {
      border-top: 1px solid $off-white;
    }

    &-right {
      border-right: 1px solid $off-white;
    }

    &-bottom {
      border-bottom: 1px solid $off-white;
    }
  }
}

.num {
  @include font-size(-1);
  position: relative;
  display: inline-block;
  width: .7em;
  height: .7em;
  border: .7em solid;
  border-radius: 100%;
  vertical-align: sub;

  span {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
  }
}

ul {

  &.list-style-none {
    list-style: none;
    padding-left: 0;
  }
}
